.calendar {
    -fx-background-color: #2c2c2c;
    -fx-background-radius: 10;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.title-row {
    -fx-background-color: #f2f2f2;
    -fx-font-weight: bold;
}

.last-title-row {
    -fx-background-color: #f2f2f2;
    -fx-font-weight: bold;
    -fx-border-radius: 10;
    -fx-background-radius: 0 10 0 0;
}

.hour-separator {
    -fx-border-color: transparent transparent #a4a4a4 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-opacity: 0.2;
}

.event {
    -fx-border-color: #c4c4c4;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #ff6100;
    -fx-border-color: #ffffff;
    -fx-border-radius: 4;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-insets: 3px;
    -fx-border-insets: 3px;
    -fx-font: 12px "System";
}

.button:hover {
    -fx-background-color: #ff9658;
}

.button:pressed {
    -fx-background-color: #dbedff;
}

.choice-box {
    -fx-background-color: #ff6100;
    -fx-mark-color: #000000;
    -fx-border-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-border-radius: 5;
    -fx-text-alignment: center;
    -fx-context-menu-enabled: false;
}

.choice-box:hover {
    -fx-background-color: #ff9658;
}

.month-day {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #c9c9c9;
}

.month-event {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.text-field {
    -fx-border-radius: 100px;
    -fx-border-color: #a2a2a2;
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #6b6b6b;
}

.text-field-connection {
    -fx-border-radius: 100px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #c9c9c9;
}

.search-hbox {
    -fx-background-color: #545454;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border-width: 1;
}

.background {
    -fx-background-color: #2c2c2c;
}

.secondary-background {
    -fx-background-color: #333333;
}

.layout-background {
    -fx-background-color: #3a3a3a;
}

.text {
    -fx-text-fill: #ffffff;
}

.transparent-background {
    -fx-background-color: rgba(0,0,0,0);
}

#weeklyCalendarAnchorPane, #weeklyCalendarGridPane{
    -fx-background-color: #2c2c2c;
}

#nameLabel, #typeLabel, #locationLabel {
    -fx-text-fill: #ffffff;
}

#mondayLabel, #tuesdayLabel, #wednesdayLabel, #thursdayLabel, #fridayLabel, #saturdayLabel, #sundayLabel {
    -fx-text-fill: #ffffff;
    -fx-background-color: #2c2c2c;
}

.text-light {
    -fx-text-fill: #ffffff;
}