.calendar {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}

.title-row {
    -fx-background-color: #f2f2f2;
    -fx-font-weight: bold;
}

.last-title-row {
    -fx-background-color: #f2f2f2;
    -fx-font-weight: bold;
    -fx-border-radius: 10;
    -fx-background-radius: 0 10 0 0;
}

.hour-separator {
    -fx-border-color: transparent transparent #a4a4a4 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-opacity: 0.2;
}

.event {
    -fx-border-color: #c4c4c4;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button {
    -fx-background-color: #cfe6fd;
    -fx-border-color: #646464;
    -fx-border-radius: 4;
    -fx-text-fill: #282828;
    -fx-font-weight: bold;
    -fx-background-insets: 3px;
    -fx-border-insets: 3px;
    -fx-font: 12px "System";
}

.button:hover {
    -fx-background-color: #c8e4ff;
}

.button:pressed {
    -fx-background-color: #dbedff;
}

.choice-box {
    -fx-background-color: #cfe6fd;
    -fx-mark-color: #282828;
    -fx-border-color: #696969;
    -fx-border-radius: 5;
    -fx-text-alignment: center;
    -fx-context-menu-enabled: false;
}

.choice-box:hover {
    -fx-background-color: #c8e4ff;
}

.month-day {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #c9c9c9;
}

.month-event {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.text-field {
    -fx-border-radius: 100px;
    -fx-background-color: rgba(0,0,0,0);
}

.text-field-connection {
    -fx-border-radius: 100px;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #c9c9c9;
}

.search-hbox {
    -fx-background-color: #f2f2f2;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-border-width: 1;
}